* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #1e1f1e;
}

button:active {
  background-color: #dad8d8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgb(63, 63, 63);
  padding: 2px;
}
